




#navigation{
    clear: both;
}



/*Menu bar effect*/
ul.nav a:hover { color: #fff !important; }
ul.nav a:visited { color: #fff !important; }
/*ul.nav a:active {color:   green !important; }*/
/*ul.nav a:focus { color: red ; !important;}*/



/*#logo-container{*/
    /*margin: auto;*/
    /*width:100%;*/
    /*height:50px;*/
    /*background-image:url('../SteerGoPNG.png' );*/
    /*background-size: 80px 60px;*/
    /*background-repeat: no-repeat;*/

/*}*/








hr.style1 { background-color: darkblue; height: 1px; border: 0; width: 7% }


.style3{
    font-size: 13px;
    color:white;

}








.size1{
    font-size: 25px;
    border-width: 2px;
}

.size2{
    font-size: 14px;
}
/*For navigation menu*/

.navbar-fixed-top .nav>li>a{
    color:white;
}

.navbar-fixed-top{
    background-color: midnightblue;
}

.navbar.navbar-inverse.navbar-fixed-top li > a:hover {
    color: cyan;
}


/* Style for our header texts
       * --------------------------------------- */
h1{
    font-size: 5em;
    font-family: arial,helvetica;
    color: #fff;
    margin:0;
}
.intro p{
    color: black;
}

/* Centered texts in each section
* --------------------------------------- */
.section{
    text-align:center;
}


/* Bottom menu
* --------------------------------------- */
#infoMenu li a {
    color: #fff;
}


/*navigation bar*/


.navbar{
    margin-bottom: 0;

}





    /*image*/
    .col-lg-12 {
        position: relative;

    }

    .center {
        position: absolute;
        left: 0;
        top: 40%;
        width: 100%;
        text-align: center;
        font-size: 24px;
        text-decoration-color: white;
    }

    .center1 {
        position: absolute;
        left: 20px;
        top: 40%;
        width: 100%;
        text-align: center;
        font-size: 24px;
        text-decoration-color: white;

    }

    .topleft {
        position: absolute;
        top: 8px;
        left: 16px;
        font-size: 18px;
    }

    .topright {
        position: absolute;
        top: 8px;
        right: 16px;
        font-size: 18px;
    }

    img {
        width: 100%;
        height: auto;
        opacity: 1;
        background-position: center center;
        background-size: cover;
        overflow: hidden;

    }

/*image content*/
.color{
    color: white;
    font-size: 35px;
}
/*enquiry button*/
.decor{
    color:darkblue;
    text-decoration-color:white ;
}

/*name take centre*/

.text{
    text-align: center;
    font-size: 35px;
}

.text1{

    color: white;
}




/*Our services*/



.foot{
    color: white;
}








/*.parent*/
/*{*/
    /*!*display: table;*!*/
    /*!*height: 180px;*!*/
    /*box-shadow:2px 2px 5px 5px grey;*/
    /*-moz-box-shadow:2px 2px 5px 5px grey;*/
    /*text-align:start;border: solid 1px;border-color: black;background-color: white;*/
    /*width:450px;*/
    /*max-width:450px;*/
    /*display: inline-block;*/
    /*white-space: nowrap;*/
    /*overflow: hidden;*/
    /*text-overflow: ellipsis;*/




/*}*/

.parent{
    display: table;
    height: 660px;
    border: 1px solid indianred;

}

.middle_container{
    display: table-cell;
    vertical-align: middle;
}
/*box*/
.floating-box {
    display: inline-block;
    width: 450px;
    height: 180px;
    margin: 10px;
    white-space: nowrap;
    overflow: hidden !important;
    text-overflow: ellipsis;
    box-shadow: 2px 2px 5px 5px grey;
    -moz-box-shadow: 2px 2px 5px 5px grey;
    border: solid 1px black;
    background-color: white;
    text-align: left;

}


/*.main{*/
    /*width:65%;*/
    /*height:125px;*/
    /*margin-bottom:10px;*/
    /*float:left;*/
    /*display: inline-block;*/
/*}*/
/*.small{*/
    /*width:35%;*/
    /*height:25px;*/
    /*!* float:left; *!*/
    /*display:inline-block;*/
    /*margin-bottom:5px;*/
/*}*/

/*@media screen and (max-width: 692px)   {*/
    /*.main, .small{*/
        /*width:100%;*/
        /*float:none;*/
    /*}*/

/*}*/



/*SUPERB FEATURES*/


